<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ahabox.feiliwu_help"
    android:versionCode="1003001"
    android:versionName="1.3.1" >

    <!-- 让系统根据屏幕分辨率使用对应的图片资源 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="false" />

    <!-- 语音功能权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 微信支付权限 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 友盟统计权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 短信接收权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="cn.ahabox.application.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_help"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >

        <!-- 友盟统计和推送Appkey和渠道id -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="574cfe66e0f55aeaf1001ad8" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_NAME}" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="1e5ef1463f27f9aacd0daa87ea4227cf" >
        </meta-data>

        <!-- 微信支付activity配置 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" >
        </activity>

        <!-- 自带activity -->
        <activity
            android:name="cn.ahabox.activity.LoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.ahabox.activity.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.VoiceListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.ProductDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.DesignerDetailActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.WXpayActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx80c95ce838ce3ff7" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.ahabox.activity.WXShopcartPayActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx80c95ce838ce3ff7" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.ahabox.activity.SuccessfulPayActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.RecordVoiceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.RecipientAddressActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.GiftinfoConfirmActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.SuccessfulSendActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.RecipientInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.TransactionOrderActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.OrderDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.GiftBoxActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.GiftCollectionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.SearchResultsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.FeedBackActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.WebViewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" />
        <activity
            android:name="cn.ahabox.activity.CodesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.EnterPassWordActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.SettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.WXLoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.AddAddressActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.WaitacceptOrderdetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.RefundReasonActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.VoiceChangenameActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ahabox.activity.BuymyselfAddressActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="cn.ahabox.activity.MyFocusActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="cn.ahabox.activity.ShopCartActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
